<div class="loginPage">
<h1 class="header">Login</h1>
<%= form_tag sessions_path, {class: 'login_form', remote: true} do |form| %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag 'Login' %>
  </div>
<% end %>
</div>