<%= form_for([@todo_list, @todo_list.todo_items.build], :html=>{id: "submit_form",multipart: true, remote: true}) do |f| %>
  <%= f.text_field :content, placeholder: "New Todo" %>
  <%= f.submit  %>
<% end %>