<div class="row clearfix" id="<%= todo_item.id %>">
  <% if todo_item.completed? %>
    <div class="complete">
      <%= link_to complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch, remote: true do %>
        <i style="opacity: 0.4;" class="fa fa-check"></i>
      <% end %>
    </div>
    <div class="todo_item">
      <p style="opacity: 0.4;"><strike><%= todo_item.content %></strike></p>
    </div>
    <div class="trash">
      <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, remote: true do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
  <% else %>
    <div class="complete">
      <%= link_to complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch, remote: true do %>
        <i class="fa fa-circle-thin"></i>
      <% end %>
    </div>
    <div class="todo_item">
      <p><%= todo_item.content %></p>
    </div>
    <div class="trash">
      <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, remote: true do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
  <% end %>

  <script>
    (function () {
      let clicked;
      let contentP;
      $(".todo_item > p")
        .click(function (e) {
          if(e.target.tagName !== "STRIKE" && !e.target.children[0] ) {
            contentP = $(this).text();
            clicked = $(this).parents('.row').attr('id');
            $(this).attr('contenteditable', 'true');
          }
        })
        .blur(function () {
          const changedText = $(this).text();
          if (changedText.length > 0 && changedText !== contentP && (clicked === $(this).parents('.row').attr('id'))) {

            $.ajax({
              type: "PUT",
              url: `/todo_lists/<%=todo_item.todo_list_id%>/todo_items/${clicked}>`,
              xhrFields: {
                withCredentials: true
              },
              data: {todo_item: {content: changedText}},
              success: (data) => {
                $('#notice').html('Item updated');
                setTimeout(() => {
                  $('#notice').html('Item updated').html('')
                }, 3000)
              },
              error: (data) => errorResponce({'Sorry': ["Something went wrong"]})
            })

          } else {
            $(this).html(contentP);
          }
        })
    })()
  </script>

</div>