<h1 class = "todo_list_title">New Todo List</h1>

<div class="forms">
  <%= link_to todo_lists_path, class:"goBack" do %>
    <i class="fa  fa-arrow-left fa-2x goBackIcon"></i>
  <%end %>
<%= render 'form', todo_list: @todo_list %>
</div>