<%=link_to edit_todo_list_path(@todo_list), class:"edit" do %>
  <i class="fa fa-pencil-square-o fa-2x editListIcon"></i>
  <span class="tooltiptext">Edit Todo List</span>
<%end %>

<%= link_to todo_list_path(@todo_list), method: :delete, class:"remove", data: {confirm: "are you sure?"} do %>
  <i class="fa fa-close fa-2x deleteListIcon"></i>
  <span class="tooltiptext">Delete Todo List</span>
<%end %>

<%= link_to todo_lists_path, class:"goBack" do %>
  <i class="fa  fa-arrow-left fa-2x goBackIcon"></i>
<%end %>

<h2 class="todo_list_title"><%= @todo_list.title %></h2>
<p class="todo_list_sub_title"><%= @todo_list.description %></p>

<div id="todo_items_wrapper">
  <%= render @todo_list.todo_items %>
  <div id="form">
    <%= render "todo_items/form" %>
  </div>
</div>