.appHeader .container{max-width:785px;margin-top:30px}.appHeader .container nav{border-radius:7px;width:100%;background:linear-gradient(40deg, #4CB8C4 100%, #EAECC6 100%)}.appHeader .container .nav-link.active{display:flex;align-items:center;justify-content:space-between}.appHeader .container .nav-link.active .fa-2x{margin-left:10px}
