<div class="newUser">
  <%= form_with(model: user, html: {class: 'newUserForm', remote: true}) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class: @user.errors[:email]?nil:"error" %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password,  class: @user.errors[:password]?nil:"error"%>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: @user.errors[:password_confirmation]?nil:"error" %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name,  class: @user.errors[:name]?nil:"error"%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>


