.appHeader {
  .container {
    max-width: 785px;
    margin-top: 30px;
    nav {
      border-radius: 7px;
      width: 100%;
      background: -webkit-linear-gradient(40deg, #4CB8C4 100%, #EAECC6 100%);
      background: -moz-linear-gradient(40deg, #4CB8C4 100%, #EAECC6 100%);
      background: -ms-linear-gradient(40deg, #4CB8C4 100%, #EAECC6 100%);
      background: -o-linear-gradient(40deg, #4CB8C4 100%, #EAECC6 100%);
      background: linear-gradient(40deg, #4CB8C4 100%, #EAECC6 100%);
    }
    .nav-link.active {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .fa-2x {
        margin-left: 10px;
      }
    }
  }
}