.loginPage {
  .header {
    font-family: initial;
    font-weight: 600;
    letter-spacing: 3px;
    color: #2e7d86;
    text-align: center;
  }
  .login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .actions {
      width: 60%;
      margin-left: 78%;
      margin-top: 15px;
    }
    .field {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;
    }
    input[type="password"] {
      width: auto;
      margin-right: 2%;
      display: inline-block;
      outline: none;
      background: rgba(250, 250, 250, .4);
      border: none;
      height: 40px;
      border-radius: 4px;
      padding: 1em 2em;
    }

    input[type="text"] {
      width: auto !important;
    }
  }
}