// Place all the styles related to the todo_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit {
  position: absolute;
  top: 3px;
  left: 55px;
  text-decoration: none !important;
  .editListIcon {
    text-decoration: none;
    color: #ffffff;
  }

  .tooltiptext {
    display: none;
    width: 140px;
    background-color: #2b92dc96;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    bottom: 40px;
    right: -50px;
  }

  &:hover {
    .tooltiptext {
      display: inline;
    }
  }
}
.remove {
  position: absolute;
  top: 0;
  right: 10px;
  text-decoration: none !important;
  .deleteListIcon {
    text-decoration: none;
    color: red;
  }

  .tooltiptext {
    display: none;
    width: 140px;
    background-color: #2b92dc96;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    bottom: 35px;
    right: -50px;
  }

  &:hover {
    .tooltiptext {
      display: inline;
    }
  }
}
.goBack {
  position: absolute;
  top: 2px;
  left: 10px;
  text-decoration: none !important;

  .goBackIcon {
    text-decoration: none;
    color: white;
  }
}