<div class="appHeader">
  <%= stylesheet_link_tag "_header" %>
  <div class="container">
    <nav class="navbar navbar-expand-sm mr-auto navbar-dark ">
      <ul class="navbar-nav w-100">
        <li class="nav-item active">
          <a class="nav-link" href="/"><i class="fa fa-home fa-2x"></i></a>
        </li>
        <li class="nav-item ml-auto">
          <% if current_user %>
          <li class="nav-item">
            <a class="nav-link active" href="/logout">Logout<i class="fa fa-sign-out fa-2x"></i></a>
          </li>
        <% else %>
          <a class="nav-link active" href="/login">Sign in <i class="fa fa-sign-in fa-2x"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/signup">Sign up <i class="fa fa-external-link fa-2x"></i></a>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
